<!-- payment_list.html -->
{% extends "base.html" %} {% block content %}

<h1>Your Payments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Plan Name</th>
      <th>Amount</th>
      <th>Plan Start Date</th>
      <th>Plan Expiry Date</th>
      <th>Purchased Date</th>
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
    <tr>
      <td>{{ payment.plan.name }}</td>
      <td>{{ payment.amount }} Rs</td>
      <td>{{ payment.start_date }}</td>
      <td>{{ payment.expiry_date }}</td>
      <td>{{ payment.payment_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
