{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-3">
      <button
        type="button"
        class="btn btn-warning"
        onclick="window.location.href = '/members_list/'"
      >
        Members List
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Edit Registration Form</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
