<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Gym Management System{% endblock %}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="header">
      <a href="{% url 'home' %}">
        <img
          src="{% static 'images/gms_logo.png' %}"
          alt="Logo"
          href="{% url 'register' %}"
        />
      </a>
      <div class="center">Gym Management System</div>
      <div class="text-white mr-5">{{user.username}}</div>
      <a href="{% url 'logout' %}" class="text-white">Logout</a>
    </div>

    <div class="sidebar mt-5" id="sidebar" style="z-index: 999">
      {% if user.is_superuser %}
      <a href="{% url 'add_trainer' %}">Trainer Registration</a>
      <a href="{% url 'trainers_list' %}">Trainers List</a>
      <a href="{% url 'create_plan' %}">Create Membership Package</a>
      <a href="{% url 'exercise_create' %}">Add Exercise</a>
      {% endif %} {% if user.is_staff %}
      <a href="{% url 'register' %}">Member Registration</a>
      <a href="{% url 'members_list' %}">Members List</a>
      <a href="{% url 'select_plan' %}">Select Membership</a>
      <a href="{% url 'create_workout_plan' %}">Workout Plan</a>
      {% endif %} {% if not user.is_staff %}
      <a href="{% url 'mark_attendance' %}">Mark Attendance</a>
      <a href="{% url 'attendance_stats' %}">Attendance stats</a>
      <a href="{% url 'add_measurement' %}">Track Measurements</a>
      <a href="{% url 'measurement_list' %}">View Measurements</a>
      <a href="{% url 'workout_plan_list' %}">Workout List</a>
      <a href="{% url 'payment_list' %}">Payment list</a>
      {% endif %}
    </div>

    <div class="content" id="content">
      <button
        class="btn btn-secondary"
        id="sidebarCollapse"
        style="margin-top: 60px"
      >
        Menu
      </button>
      {% block content %} {% endblock %}
    </div>

    <script>
      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
          $("#content").toggleClass("active");
        });
      });
    </script>
  </body>
</html>
