{% extends "base.html" %} {% block content %}
<h3>Welcome {{ user.username }}</h3>
{% if user.is_superuser %}
<div class="container mt-5">
  <h2 class="mb-4">Statistics</h2>
  <div class="list-group">
    <a class="btn btn-info mb-3" href="{% url 'attendance_totalstats_today' %}"
      >Total Attendance Count - Today</a
    >
    <a class="btn btn-info mb-3" href="{% url 'attendance_totalstats' %}"
      >Total Attendance Count - Current Month</a
    >
    <a class="btn btn-info mb-3" href="{% url 'total_members_count' %}"
      >Total Members Count</a
    >
    <a class="btn btn-info mb-3" href="{% url 'gender_count' %}"
      >Total Gender Count</a
    >
    <a class="btn btn-info mb-3" href="{% url 'total_trainers_count' %}"
      >Total Trainers Count</a
    >
    <a class="btn btn-info mb-3" href="{% url 'total_active_members' %}"
      >Total Active Members</a
    >
    <a class="btn btn-info mb-3" href="{% url 'total_expired_memberships' %}"
      >Total Expired Memberships</a
    >
  </div>
</div>

{% endif %} {% endblock %}
